# Don't forget to update Dockerfile to handle environment variables properly

# API
NEXT_PUBLIC_SERVER_URL="http://localhost:3000"

# Next Devtools (optional)
NEXT_PUBLIC_NEXT_DEVTOOLS_ENABLED=false

# TanStack Query Devtools (optional)
NEXT_PUBLIC_QUERY_DEVTOOLS_ENABLED=true
