# Disable hoisting to isolate dependencies per workspace
public-hoist-pattern[]=*
hoist=false
# Ensure pnpm uses the default "isolated" node_modules structure
node-linker=isolated

link-workspace-packages=true

# Restrict using incorrect engines
engine-strict=true
